[submodule "NTTEngine/libs/spdlog"]
	path = NTTEngine/libs/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "NTTEngine/libs/glfw"]
	path = NTTEngine/libs/glfw
	url = https://github.com/glfw/glfw.git
[submodule "NTTEngine/libs/glew"]
	path = NTTEngine/libs/glew
	url = https://github.com/Perlmint/glew-cmake.git
